
body{
    padding: 0px;
    margin: 0px;
}
div.layout{
    height: 100vh;
    float: left;
    padding: 0 5
}

div.treenode {
    padding-left: 10px;
}

.treenode .collapse {
    visibility: collapse
}
.treenode .fa {
    margin-left: -10px;
    cursor: pointer;
}

.treenode .selected{
    background-color: burlywood;
}
.rotate-45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=.5)";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}